/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

@font-face {
    font-family:"Intro";
    src:url("../fonts/Intro/Intro.eot?") format("eot"),
        url("../fonts/Intro/Intro.woff") format("woff"),
        url("../fonts/Intro/Intro.ttf") format("truetype"),
        url("../fonts/Intro/Intro.svg#Intro") format("svg");
        font-weight:900;
        font-style:normal;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: rgb(229,56,24);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: rgb(199,36,4);
}

textarea {
    resize: none;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}


.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 40px;
}


.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid rgb(229,56,24);
    color: ;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid rgb(229,56,24);
    outline: 0;
    color: #000;
    background-color: rgb(229,56,24);
}

ul.banner-social-buttons {
    margin-top: 0;
}

.no-marginr {
    margin-right:0px !important;
}

/* INTRO */
#intro {
    background: url(../img/intro.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    font-family:"Intro";
    color : rgb(242,77,44);
    margin :0 0 0 0;
}

.intro .intro-body .intro-text {
    /*font-size: 13px;*/
    font-family:"Intro";
}

.intro-text {
    text-transform: uppercase;
    margin : 0 0 0 0;
}

.brand-heading {
    margin-top: 15px !important;
    margin-bottom: 10px !important;
}

.logo {
    width: 65px;
    height: 72px;
}

.intro-logo {
  width: 65px;
  height: 72px;
}

.socials {
    color: rgb(235,54,35) !important;
}

.socials-wrapper {
      margin-top: 8px;
      text-align: left;
}

.socials-circle {
    color: #fff !important;
}

.video {
    width: 100%;
    margin-top:15px;
    border-radius: 5px;
    z-index:1;
    position:relative;
}

#play {
    z-index: 2;
    position: absolute;
    top: 28%;
    left: 37%;
}

/* ABOUT */

#about {
/*    height: 100%;*/
    background: url(../img/about.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
}

.about-title {
    font-size: 55px;
    font-family: "Intro";
    color: #000;
}

.about-logo {
    font-size: 70px;
    font-family: "Intro";
    color: rgb(242,77,44);
    margin: 0 0 0 0;
    display: inline-block;
}

.about-wrapper {
    background-color: rgba(255,255,255,0.3);
    padding : 5px 50px 40px 0;
    
}

.about-rows {
    margin-top: 40px;
}

.about-img {
    width: 75px;
    height: 75px;
}

.about-text {
    font-size: 22px;
    text-align: justify;
    font-weight: 100;
    padding-left: 20px;
    color: #444444;
}

.about-letter {
    color: rgb(242,77,44);
    font-weight: 900;
    font-size: 30px;
}

.about-releasetext {
      font-size: 22px;
  text-align: center;
  font-weight: 100;
  padding-left: 20px;
  color: #444444;
  margin-top:15px;
}

.about-releasepart {
    display: inline-block;
}

.about-releasedate {
    color:black;
    -webkit-background: -webkit-linear-gradient(to bottom, #000, #aaa);
    -moz-background:    -moz-linear-gradient(to bottom, #000, #aaa); 
    -ms-background:     -ms-linear-gradient(to bottom, #000, #aaa);
    -o-background:      -o-linear-gradient(to bottom, #000, #aaa);  
    background: linear-gradient(to bottom, #000, #aaa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-family: "Intro";
    margin-top: 10px;
    margin-bottom: 30px;
}

.about-circles {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(255,255,255, 0.8);
    color:grey;
    padding-top: 17px;
}


/* CONTACT */

#contact {
    background-color: rgb(229,56,24);
    /*height: 100%;*/
    
    background: url(../img/contact.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact-header {
    font-size: 55px;
    font-family: "Intro";
    color: #fff;
}

.form-kit {
    padding: 20px 0;
    position: relative;
    z-index: 2;
    width:100%;
}

.form-kit input, .form-kit textarea, .form-kit button {
    appearance: none;
    outline: 0;
    border: 1px solid rgba(242, 77, 44, 0.8);
    background-color: rgb(255, 255, 255);
    width: 47%;
    border-radius: 8px;
    padding: 15px;
    margin: 0 auto 20px auto;
    /*display: block;*/
    text-align: left;
    font-size: 18px;
    color: #555;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
}

.form-kit #image {
    position: absolute;
    top: 0;
    left: 43%;
    -moz-opacity: 0;
    filter: alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    height: 130px;
    width: 130px;
    cursor: pointer;
}

.contact-camera-wrapper {
    height: 130px;
    position: relative;
    margin-bottom:1%;
}

.contact-camera {
    z-index: 1;
    width: 130px;
    height: 130px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 43%;
}

.ajax-upload-dragdrop {
    position: absolute;
    top: 0;
    left: 42%;
    -moz-opacity: 0;
    filter: alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    height: 130px;
    width: 130px !important;
    cursor: pointer;
}

.ajax-file-upload {
    height:100%;
}

.ajax-file-upload-statusbar {
    width:300px !important;
}

.ajax-file-upload-filename {
    display:none;
}

.contact-img {
    border: 1px solid rgba(242, 77, 44, 0.8);
    border-radius : 50% !important;
    padding:0px !important;
}

.contact-reply {
    height: 25px;
}

.form-kit #info {
    width:99%;
    height:130px;
}


.form-kit #email, .form-kit #country {
    margin-left: 40px;
}

.form-kit #send {
    background-color : rgb(231,81,52);
    color:#fff;
    text-align: center;
    margin-bottom: 0px;
}

.form-kit #send:active {
    background-color : rgb(211,61,32);
}

.success {
    color: green;
    opacity:0;
    font-weight: 800;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 3%;
    z-index: 2;
}

.error {
    color: red;
    opacity:0;
    font-weight: 800;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 3%;
}

.loader {
    display:none;
}


::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: #777;
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: #777;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.display-none {
    display:none !important;
}

.display-inline {
      display: inline-block !important;
}
