
@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }

    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }

    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 70px;
    }

    .intro .intro-body .intro-text {
        font-size: 34px;
    }


}

@media screen and (min-width:1031px) and (min-height:650px){

    /* ABOUT */
    
    #about {
        height: 100% !important;
    }
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }

    .form-kit #info {
        width:80%;
    }

    /* INTRO */
    
    #intro {
        padding-top:20px !important;
        padding-bottom: 20px !important;
        height:100%;
    }

    .intro, .intro-body {
        vertical-align: top !important;
    }

    .socials-wrapper {
      text-align: center;
    }
    .video {
        margin-bottom: 20px;
        margin-top: 25px;
    }

    #play {
        width: 26%;
        display:none;
    }

    .brand-heading {
        font-size: 50px;
        margin-top: 30px !important;
    }

    .intro-logo {
        width: 38px;
        height: 45px;
    }

    .intro-text {
        font-size: 20px;
        margin-top: 10px;
    }
    
    /* ABOUT */
    
    .about-title {
      font-size: 30px;
    }

    .about-logo {
        font-size: 40px;
    }

    .logo {
        width: 38px;
        height: 45px;
    }

    .about-wrapper {
        padding-right: 20px;
        background-color: rgba(255,255,255,0.5);
    }

    .about-img {
        margin-top: 12px;
    }
    .about-letter {
        font-size: 23px;
    }

    .about-text {
        font-size: 13px;
        font-weight: 400;
    }

    .about-releasetext {
        font-size: 13px;
        font-weight: 400;
    }

    .about-releasedate {
        font-size: 20px;
    }

    /* CONTACT */
    
    .contact-header {
        font-size: 30px;
    }

    .form-kit input {
        width: 80%;
        margin-left:0px !important;
    }

    .form-kit #image {
        left: 9% !important;
    }

    .form-kit #send {
        width: 80%;
    }

    .success {
        padding-left: 13%;
    }

    .error {
        padding-left: 28%;
    }
    
}

@media screen and (min-width:600px) and (max-width:767px){

    .intro-logo {
        width: 65px;
        height: 72px;
    }
    .brand-heading {
       font-size:70px !important;
   }

   .intro-text {
      font-size: 35px;
    }
}

@media screen and (min-width:600px) and (max-width:1024px){
    .about-img {
        margin-top: 15px;
    }
}